[submodule "samples/TestDrive-Android"]
	path = samples/TestDrive-Android
	url = https://github.com/KinveyApps/TestDrive-Android.git
[submodule "samples/MICFlow-Android"]
	path = samples/MICFlow-Android
	url = https://github.com/KinveyApps/MICFlow-Android.git
[submodule "samples/StatusShare-Android"]
	path = samples/StatusShare-Android
	url = https://github.com/KinveyApps/StatusShare-Android.git
[submodule "samples/Kitchensink-Android"]
	path = samples/Kitchensink-Android
	url = https://github.com/KinveyApps/Kitchensink-Android.git
[submodule "samples/SignIn-Android"]
	path = samples/SignIn-Android
	url = https://github.com/KinveyApps/SignIn-Android.git
[submodule "samples/GeoTag-Android"]
	path = samples/GeoTag-Android
	url = https://github.com/KinveyApps/GeoTag-Android.git
